<h1>Topics</h1>
<div class="topic-list">
    <mat-card class="topic-card">
        <mat-list>
            @for (topic of topics; track topic.name) {
                <mat-list-item>
                    <div class="topic-item">
                        <a routerLink="/topics/{{topic.id}}" [state]="topic" routerLinkActive="active" ariaCurrentWhenActive="page" matTooltip="{{topic.description}}">
                            {{topic.name}}
                        </a>
                        <button mat-icon-button aria-label="delete topic" (click)="deleteTopic(topic)">
                            <mat-icon>delete_forever</mat-icon>
                        </button>
                    </div>
                </mat-list-item>
                <mat-divider></mat-divider>
            }
        </mat-list>
    </mat-card>
</div>
<div class="create-topic">
    <mat-card class="create-card">
        <mat-form-field appearance="fill">
            <input matInput placeholder="Topic Name" [(ngModel)]="newTopicName">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <input matInput placeholder="Topic Description" [(ngModel)]="newTopicDescription">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="createTopic()">Create Topic</button>
    </mat-card>
</div>

